# CMake build directory
out/
_out/
build/
_build_linux/

.vs

data/france_graph.txt
data/france_inter.txt
data/pays_de_la_loire_graph.txt
data/pays_de_la_loire_inter.txt
data/poi.csv
data/communes-departement-region.csv
result.geojson